www.tfstudio.website {
    redir https://tfstudio.website{uri} permanent
}

tfstudio.website {
  encode zstd gzip
  handle {
    reverse_proxy tfstudio:80
  }
  # Optional access logs:
  # log {
  #   output stdout
  #   format console
  # }
}

cms.tfstudio.website {
  encode zstd gzip
  reverse_proxy directus-cms:8055
  # Optional access logs:
  # log {
  #   output stdout
  #   format console
  # }
}
